body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    margin-top: 20px;
    font-size: 2.5em;
}



.logo {
    max-width: 200px; 
    margin: 20px auto; 
    display: block; 
}




/*  Estilo del boton Ver Favoritos */

#ver-favoritos-btn{


    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #138ce2; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    
   


}



.btn-inicio{


    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #138ce2; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
   


}



#header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
}

#header-buttons {
    margin-left: auto; /* Mover el contenedor de botones a la derecha */
}



#search-container {
    margin: 20px 0;
}

#search {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#search-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

#lista-pokemones {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* cada 5 columnas */
    gap: 20px; /* Espacio entre tarjetas */
    justify-items: center;
    margin: 20px auto; 
    max-width: 1200px; 
   
}



.pokemon-tipo {
    color: #3498db;
    font-weight: bold;
}


.pokemon-card {
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 10x;
    padding: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

.pokemon-card h3 {
    font-size: 1.2em;
}

.favorite-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f7ca01;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.favorite-btn:hover {
    background-color: #138ce2;
}

/* Estilo del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
}

.modal-img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

#modal-info {
    display: flex;
    align-items: center;
}

#pokemon-details {
    text-align: left;
}

.close {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
}



/* Ultimo cambio */


.pokemon-card h3:hover {
    color: red; /* Cambia el color al pasar el mouse */
    cursor: pointer; /* Muestra un cursor de mano */
}


/*Nuevos estilos paginacion*/

#pagination-top, #pagination-bottom {
    text-align: center;
    margin: 16px 0;
}
.boton-pagina {
    margin: 0 2px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    cursor: pointer;
}
.boton-pagina.activo, .boton-pagina:disabled {
    background: #b3d1fc;
    font-weight: bold;
    cursor: default;
}





#anterior-btn{

    padding: 1px 10px;
    background-color: #138ce2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    left: 30px;
    display: flex;



}



#siguiente-btn{

    padding: 1px 10px;
    background-color: #138ce2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    


}